<div class="hero-unit">
	<h1>I don't know what I'm doing!</h1>
	<p>
		Vicki is awesome and deserves 
		<%= link_to "candy", "http://www.wildeinthekitchen.blogspot.com" %>
	</a>
	</p>
	<p>
	<%= link_to "Sweet Looking Button", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
